

.nav ul a:link,
.nav ul a:visited {
    text-decoration: none;
    color: var(--color-light--2);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav ul a.active {
    color: var(--color-brand--2);
}

.nav ul a.ctaLink:link,
.nav ul a.ctaLink:visited {
    background-color: var(--color-brand--2);
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 7px;
}
